/* CSSReset */
*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    background-color: #404040;
}
/* Configurações do Header */
h1{
    font-size: 3rem;
    font-weight: bolder;
    color: silver;
}
